/TablutPlay/build-TablutPlay-Desktop_Qt_5_5_1_MinGW_32bit-Debug
/TablutPlay/build-TablutPlay-Desktop_Qt_5_5_1_GCC_64bit-Debug
/TablutPlay/TablutPlay.*
/TablutPlay/deployment.pri
/TablutPlay/qml.qrc
/TablutPlay/icon/*.xcf